<%= render 'navbar' %>
<div class="container">

<%= image_tag(@photo.image, :width => "50%", :height => "50%") %>
<p><%= @photo.caption %></p>

<table style="width: 250px; line-height:20px;">
	<tr>
     	<td><button><%= link_to 'Like', like_photo_path %></button> <%= @photo.likes %></td>
		<td><%= link_to 'Edit', edit_photo_path(@photo) %></td>
		<td><%= link_to 'Back', photos_path %></td>
	</tr>
</table>
<h2>Comments</h2>

  <%= render @photo.comments %>

<h2>Add a comment:</h2>
<%=render 'comments/form' %>
 
              </div>

</body>
</html>
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/instafeed.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>