<%= render 'navbar' %>
<div class="container">

<%= image_tag(@photo.image, :width => "50%", :height => "50%") %>
<p><%= @photo.caption %></p>

<p><%= link_to 'Edit Photo', edit_photo_path(@photo) %></p>
<p><%= link_to 'Back', photos_path %></p>
<h2>Comments</h2>

  <%= render @photo.comments %>

<h2>Add a comment:</h2>
<%=render 'comments/form' %>

 <tr>
      
      <td><%= link_to 'like', like_photo_path %></td>
      
    </tr>

              <%= @photo.likes %>
              </div>

</body>
</html>
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/instafeed.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>